body{
    background-color: bisque;
}
.cardHolderBox{
    background-color: beige;
    border: 6px solid rgb(165, 112, 42);
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content: center;
    align-items: center;
    justify-content:left;
    gap: 15px;
    margin: 15px;
    padding-left: 80px;
    padding-top: 18px;

}
.card{
    background-color: rgba(255, 255, 255, 0.618);
    border: 4px solid rgba(240, 99, 12, 0);
    min-width: 300px;
    min-height: 300px;
    box-shadow: 0 0 10px rgb(22, 23, 23);
    border-radius: 12px;
}
@media (max-width: 500px){
    .card{
        min-width: 90%;
        min-height: 300px;
    }
    .cardHolderBox{
        justify-content: center;
        padding: 14px;
        margin: 4px;
    }
}
