body{
    background-color: rgba(249, 248, 246, 0);
}
.cardHolderBox{
    background-color: rgba(117, 237, 77, 0);
    border: 6px solid rgb(165, 112, 42);
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content: center;
    align-items: center;
    justify-content:left;
    gap: 15px;
    margin: 15px;
    padding-left: 80px;
    padding-top: 18px;

}
.card{
    background-color: rgba(255, 255, 255, 0.618);
    border: 4px solid rgba(198, 108, 52, 0.912);
    min-width: 400px;
    min-height: 500px;
    box-shadow: 0 0 6px rgb(22, 23, 23);
    border-radius: 12px;
}
.cardImage{
    background-color: aqua;
    max-width: 100%;
    min-height: 300px;
    margin: 3px;
    background-image: url(testBurger.png);
    background-size: cover;
    background-position: center;
}
.statusBox{
    background-color: rgba(245, 166, 7, 0.078);
    max-width: 99%;
    min-height: 180px;
    margin: 9px;
    box-shadow: 0 0 6px rgb(247, 167, 7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.statusBox h1{
    font-size: large;
    color: brown;
    margin-left: 19px;
}
.statusBox h1.liveStatus,
.statusBox h1.waitingTime{
    display:inline-block ;
}

@media (max-width: 500px){
    .card{
        min-width: 90%;
        min-height: 300px;
    }
    .cardHolderBox{
        justify-content: center;
        padding: 14px;
        margin: 4px;
    }
}
